
nav ul{
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 1em;
  list-style: none;
  font-size: 1.5em;
}
nav ul li{
  position: relative;
  &:hover .drop{
    display: flex;
  }
}
nav ul li, .drop a{
  padding: 1em;
  background-color: lightblue;
  cursor: pointer;
  &:hover{
    transform: scale(1.1);
  }
}
nav ul li a{
  color: black;
}
.drop{
  display: none;
  position: absolute;
  flex-direction: column;
  gap: 0.5em;
  padding: 2em;
  width: 300px;
}
.drop a{
  width: fit-content;
  background-color: lightblue;
}