@import url(variables.css);
body{
    background: #f9fafb;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.login-container {
    width: 100%;
    max-width: 1000px;
    background-color: var(--bg-white);
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    padding:2rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

label {
    font-size: 0.85rem;
    color: #555;
    margin-bottom: 1rem;
    display: block;
}