* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
}

#sidebar {
    background-color: #3c5f5f;
    color: white;
    width: 220px;
    height: 100vh;
    padding: 1rem;
    position: fixed;
}

#sidebar h2 {
    margin-bottom: 2rem;
}

#sidebar nav a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 1rem;
}

main {
    margin-left: 220px;
    padding: 2rem;
    flex: 1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

header form {
    display: flex;
    gap: 0.5rem;
}

.user {
    font-weight: bold;
    color: purple;
}

h1 {
    margin-bottom: 1rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    justify-content: center;
}

.card {
    width: 240px;
    height: 228px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    text-align: center;
}
.card-top {
    flex-grow: 1; /* Ocupa o espaço restante verticalmente */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #eee; /* Linha divisória sutil */
}

.card-bottom {
    flex-shrink: 0; /* Não encolhe */
    height: 3rem; /* Altura fixa */
    width:100%;
    background-color: white; 
    display: flex;
    justify-content: space-around; /* Distribui os ícones horizontalmente */
    align-items: center;
    padding: 0;
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
}

.card a {
    color: purple;
    text-decoration: none;
    font-size: 0.95rem;
}

.card-bottom i {
    color: #3c5f5f; 
    font-size: 1.5rem; 
}